$color-main: #B80000;
$font-main: 'yugothic';

@font-face {
    font-family: 'yugothic';
    src: url(../font/yugothib.ttf) format('truetype');
}

@import './component/details';
@import './component/footer';
@import './component/genres';
@import './component/home';
@import './component/navbar';
@import './component/search';
@import './component/sticky';

* {
    padding:0;
    margin:0;
}

body {
    font-family:'yugothic';
    // user-select: none;
    overflow-x:hidden;
}

html {
    scroll-behavior: smooth;
    // overflow-y:scroll;
    // overflow-x: hidden;
}

.slider {
    display:flex;
    flex-wrap:nowrap;
    gap: 10px;
    overflow:auto;
    
}

.slider::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .slider::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey; 
    border:1px solid $color-main;
    border-radius: 10px;
  }
   
  /* Handle */
  .slider::-webkit-scrollbar-thumb {
    background: $color-main; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .slider::-webkit-scrollbar-thumb:hover {
    opacity: .5; 
  }


.items {
    .poster {
        height:200px;
        width:133.33px;
        background-color: rgba(0,0,0,.5);
        overflow:hidden;
        border-radius:8px;
    }
    a {
        text-decoration: none;
    img {
        height:200px;
        border-radius:8px;
    }
    
    p {
        font-size:14px;
        padding:3px;
        color:black;
    }
    }
}

.pagination {
    .btn-prev, .btn-next {
        border:2px solid $color-main;
        padding:5px 10px 5px 10px;
        background-color: white;
        border-radius: 2px;
        color:$color-main;
        text-decoration: none;
    }
    .btn-prev:hover , .btn-next:hover {
        background-color: $color-main;
        color:white;
    }
    .page-item {
        .page-link {
            color:$color-main;
            border:2px solid $color-main;
        }
        
    }
    .active {
        .page-link {
            color:white;
            background-color: $color-main;
            border:2px solid $color-main;
        }
    }
}


@media (max-width:920px) {
    .trailer-news {
        #slider {
            height:55vmin;
        }
    }
}

@media (max-width:768px) {
    .sign-up {
        width:100%;
    }
    .sign-in {
        width:100%;
        margin-bottom:10px;
    }

    .movie-details .container .col-md-8 .other-details .photos .p-image {
        grid-template-columns: 1fr;
    }

}